body {
	margin: 100px auto;
	background-color: #2A2826;
	text-align: center;
	font-family: garamond;
	color: #EEEEEE;
}

img {
	width: 20%;
}

h1 {
	font-size: 100%;
}

p {
	font-size: 80%;
}


a {
	text-decoration: none;
	font-weight: bold; 
	color: #00CFCF;
}

a:visited {
	color: #009E9E;
}
