
body {
	margin: 0;
	padding: 0;
	/*background-image: url("https://wudesign.me/resources/html_tracing/images/bg.png");
	background-position: center top;*/
	min-height: 2380px;
	font-family: 'Archivo Narrow', sans-serif;
}

.obl {
	font-style: oblique;
}

h1 {
	font-size: 80px;
	margin: 0 auto;
}

h2 {
	text-align: center;
	font-size: 40px;
	margin: 0 auto;
}

h3 {
	font-size: 30px;
	margin-top: 12px;
}

h4 {
	font-size: 20px;
	margin: 1px auto;
}

#intro {
	height: 317px;
	background-color: rgba(0,175,175,0.5);
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	padding-top: 163px;
}

#sect1 {
	background-color: #214264;
	height: 670px;
	padding-top: 45px;
	color: #eee;
}

.content {
	width: 960px; 
	margin: 0 auto;
	line-height: 25px;
	font-size: 18px;
}

#sect1 .content {
	padding-top: 38px;
}

#sect1 img {
	width: 400px;
	height: 300px;
	display: block;
	float: right;
	margin: 0px 0px 35px 35px;
}

.content p {
	margin: 0 auto;
	margin-bottom: 15px;
}

#sect2 {
	background-color: rgb(130 ,180, 130);
	/*background-color: rgba(250, 150, 250, 1);*/
	height: 642px;
	padding-top: 43px;
}

#sect2 .content {
	padding-top: 18px;
}

.col {
	width: 480px;
	float: left;
	display: inline-block;
}

.col img {
	display: block;
	float: left;
	padding-right: 11px;
	width: 200px;
	height: 150px;
}

div.tab {
	padding: 20px 0px 3px 0px;
	display: block;
	width: 480px;
	height: 150px;
}

.tab p {
	padding-top: 5px;
	width: 400px;
}

#sect3 {
	height: 355px;
	color: white;
	padding-top: 45px;
	background-color: rgba(150, 50, 150, 1);
}

#sect3 p {
	padding-top: 38px;
	font-size: 25px;
	width: 720px;
	text-align: center;
	line-height: 35px;
}

#footer {
	margin: 0 auto;
	font-size: 10px;
	padding-top: 41px;
	height: 50px;
}