body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: black;
}

#card1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("card1.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	z-index: 0;
}

#card2 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("card2.jpg");
	background-position: 50% 100%;
	background-repeat: no-repeat; 
	background-size: cover;
	z-index: 0;
}

#card3 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("card3.jpg");
	background-position: 50% 100%;
	background-repeat: no-repeat; 
	background-size: cover;
	z-index: 0;
}

.quote {
	position: fixed;
	z-index: 10;
	color: rgb(168, 223, 48);
	font-family: "oswald", sans-serif;
	font-size: 2.8vw;
	font-style: normal;
	line-height: 3.5vw;
	font-weight: 400;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px black;
}

.quote#one {
	text-align: right;
	bottom: 7vw;
	right: 7vw;
	width: 20%;
}

.quote#two {
	top: 7vw;
	right: 7vw;
	width: 40%;
}

.quote#three {
	top: 7vw;
	left: 7vw;
	width: 40%;
}

div#quote1 {
	float: right;
	width: 100%;
}

div #quote2 {
	text-align: right;
	float: right;
	width: 100%;
}

div #quote3 {
	text-align: left;
	float: left;
	width: 100%;
}

div.wtnv {
	display: block;
	font-weight: 300;
	text-transform: none;
	font-size: 0.75em;
}

#blank {
	height: 2vh;
	display: block;
	width: 100%;
}

#three div.wtnv {
	float: left;
}

#two div.wtnv {
	float: right;
}

#one div.wtnv {
	float: right;
}

a#nextpage {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-decoration: none;
	z-index: 20;
}

@media screen and (max-width: 1024px) {
	.quote {font-size: 3.5vw; line-height: 4.2vw;}
	#card1 {background-position: 30% 0%;}
	.quote#one {width: 30%; bottom: 10vw; right: 10vw;}
	.quote#two {width: 50%; top: 10vw; right: 10vw;}
	.quote#three {width: 40%; top: 10vw; left: 10vw;}
}

@media screen and (max-device-width: 680px) {
	.quote {font-size: 4vw; line-height: 4.5vw;}
	.quote#one {width: 30%;  bottom: 10vw; right: 10vw;}
	.quote#two {width: 55%; top: 10vw; right: 10vw;}
	.quote#three {width: 50%; top: 10vw; left: 10vw;}
}

@media screen and (max-width: 480px) {
	.quote {font-size: 6vw; line-height: 7.2vw;}
	#one div.wtnv {float: none;}
	.quote#one {right: 22.5%; text-align: center; width: 55%;}
	.quote#two {width: 78%; top: 10vw; right: 10vw;}
	.quote#three {width: 60%; top: 10vw; left: 10vw;}
}

@media screen and (max-device-width: 1200px) {
	.quote {font-size: 3.5vw; line-height: 4.2vw;}
	.quote#one {width: 30%;  bottom: 10vw; right: 10vw;}
	.quote#two {width: 45%; top: 10vw; right: 10vw;}
	.quote#three {width: 50%; top: 10vw; left: 10vw;}
}

@media screen and (max-device-width: 680px) {
	.quote {font-size: 4vw; line-height: 4.5vw;}
	.quote#one {width: 30%;  bottom: 10vw; right: 10vw;}
	.quote#two {width: 55%; top: 10vw; right: 10vw;}
	.quote#three {width: 50%; top: 10vw; left: 10vw;}
}

@media screen and (max-device-width: 480px) {
	.quote {font-size: 6vw; line-height: 7.2vw;}
	#one div.wtnv {float: none;}
	.quote#one {right: 22.5%; text-align: center; width: 55%;}
	.quote#two {width: 76%; top: 10vw; right: 10vw;}
	.quote#three {width: 60%; top: 10vw; left: 10vw;}
}